.contact-data>td>a{
    color: black;
    text-decoration: none;
}

.contact-data>td>a:hover{
    color: black;
    text-decoration: none;
}

.contact-data>td>a:visited{
    color: black;
    text-decoration: none;
}